/**************** Footer area ****************/

#footer {
  background-color: rgb(72, 235, 235);
  text-align: center;
  color: white;
  padding: 8px;
}
#footer .footercontainer {
  max-width: 1200px;
  margin: 0 auto;
}
#footer .copyright {
  margin-top: 2rem;
  font-size: 12px;
}

/**************** Form ****************/
#footer form {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
#footer form .form-group {
  margin: 2rem 0;
  display: flex;
}

#footer form label {
  width: 200px;
  display: inline-block;
  text-align: left;
}
#footer form .form-group input,
#footer form .form-group textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  width: 60%;
  font-size: 1rem;
}
#footer form .form-group textarea {
  min-height: 100px;
}
#footer button {
  background-color: rgb(57, 132, 243);
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
}
