* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "raleway", "sans-serif";
  color: rgb(17, 19, 19);
}
@media screen and (min-width: 1200px) {
  body {
    background-color: rgb(153, 153, 245);
  }
}
@media screen and (max-width: 992px) {
  body {
    background-color: rgb(87, 211, 194);
  }
}
@media screen and (max-width: 768px) {
  body {
    background-color: rgb(233, 165, 119);
  }
}
@media screen and (max-width: 568px) {
  body {
    background-color: rgb(228, 117, 132);
  }
}

html {
  scroll-behavior: smooth;
}

img {
  height: 200px;
}
.container {
  max-width: 1200px;
  margin: auto;
  /* z-index: 1;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  text-align: center;
  width: fit-content;*/
}

h1 {
  font-weight: 300px;
}

h2 {
  margin: 32px 0;
}

p {
  margin: 16px 0;
  line-height: 1.5;
}
/*           Header area          */

header {
  min-height: 950px;
  text-align: center;
  background: url(image/Moode-board2.png) no-repeat fixed center center/cover;
}
header.container {
  padding: 42px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 75vh;
}

header nav ul {
  margin-top: 32px;
  font-size: 18px;
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 16px;
}

header a {
  color: rgb(10, 10, 32);
  text-decoration: underline;
}
/* The hero banner */

/* Place text in the middle of the image */
#hero-banner h2 {
  font-size: 75px;
  text-align: center;
  padding-top: 300px;
  color: rgb(57, 18, 233);
}

/***********Main content area**********/
#past,
#present,
#future {
  padding: 50px;
  min-height: 500px;
}
#present {
  background: rgb(223, 220, 220);
}

#past img,
#present img,
#future img {
  /* width: 100px;
  height: 100px;*/
  float: left;
  margin-right: 32px;
}

footer {
  text-align: center;
  font-size: 16px;
  padding: 8px;
  background-color: darkseagreen;
  color: white;
}
